<div class="row">
  <div class="col-sm-9">
    <ul class="nav nav-tabs">
      <% if user_signed_in? %><li class="pull-right <%= 'active' if params[:tab] == 'my_favorite' %>"><%= link_to 'お気に入り', questions_path(tab: :my_favorite) %></li><% end %>
      <li class="pull-right <%= 'active' if params[:tab] == 'favorite' %>"><%= link_to '人気', questions_path(tab: :favorite) %></li>
      <li class="pull-right <%= 'active' if params[:tab] == 'active' or current_page?(root_path) %>"><%= link_to 'アクティブ', questions_path(tab: :active) %></li>
    </ul>
    <%= "お気に入り登録した質問はありません。" if params[:tab] == 'my_favorite' && @questions.empty? %>
    <% @questions.each do |question| %>
      <div class="row">
        <div class="col-sm-1">
          <%= question.posi_counts - question.nega_counts %>
          <p>票</p>
        </div>
        <div class="col-sm-1">
          <%= question.answers.count %>
          <p>回答</p>
        </div>
        <div class="col-sm-2">
          <%= question.favorite_counts %>
          <p>お気に入り</p>
        </div>
        <div class="col-sm-6">
          <%= link_to question.title, question %> <%# TODO n.uchiyama 本家の真似をするならここに関連するTagを表示 %> 
        </div>
        <div class="col-sm-2">
          <%= question.user.name %>
          <%= question.user.score %>
        </div>
      </div>
    <% end %>
  </div>
</div>