<%= render 'users/menu' %>

<div class="row">
  <div class="col-sm-4">
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to 'プロフィール', edit_user_registration_path %></li>
      <li><%= link_to "削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete %></li> <%#  TODO n.uchiyama 関連レコードがある状態でuserを物理削除出来ないのでuserも論理削除に変える。%>
    </ul>
  </div>
  <div class="col-sm-8">
  <h2>プロフィールを編集</h2>
  <hr>
  <h3>公開情報</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="row">
      <div class="col-sm-4">
        <div class="field">
          <%= avatar_lg(@user) %>
          <%= f.label :"User画像の変更" %><br>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="field">
          <%= f.label :"表示名" %>
          <%= f.text_field :name, class: "form-control", placeholder: "表示名" %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :"自己紹介" %>
      <%= f.text_area :profile, autocomplete: "off", class: "form-control", placeholder: "自己紹介" %>
    </div>
    <hr>
    <h3>非公開情報</h3>
    <div class="field">
      <%= f.label :"メールアドレス" %><br />
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="field">
      <strong class="text-danger">パスワードを変更しない場合は「新しいパスワード」と「新しいパスワード(確認用)」をブランクにしてください。</strong><br>
      <%= f.label :"新しいパスワード" %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "新しいパスワード" %>
    </div>
    <div class="field">
      <%= f.label :"新しいパスワード(確認用)" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "新しいパスワード(確認用)" %>
    </div>
    <div class="field">
      <%= f.label :"現在のパスワード" %>
      <strong class="text-danger">(User情報を変更する場合は、下に現在のパスワードを入力してください。)</strong><br>
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "現在のパスワード(current password)"  %>
    </div>
    <div class="field">
      <%= f.submit "更新", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
  </div>
</div>