<%= render 'devise/shared/navtab' %>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label :"表示名" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :"メールアドレス（必須ですが、公開はされません）" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :"パスワード" %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード"  %>
    </div>
    <div class="field">
      <%= f.label :"パスワード(確認用)" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
    </div>
    <div class="field">
      <%= f.submit "登録", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
  </div>
</div>