<div class="col-sm-12">
  <ul class="nav nav-tabs">
    <li class="pull-left"><h4>ユーザー</h4></li>
    <li class="pull-right <%= 'active' if params[:tab] == 'new' %>"><%= link_to '新規', users_path(tab: :new) %></li>
    <li class="pull-right <%= 'active' if params[:tab] == 'score' or params[:tab].nil? %>"><%= link_to '信用度', users_path(tab: :score) %></li>
  </ul>
  <% @users.in_groups_of(4, false) do |row| %>
      <div class="col-sm-12 users_row">
          <% row.each do |user| %>
            <div class="col-sm-3 users_each">
                <table>
                    <tr>
                        <td class="users_index_avator"><%= link_to avatar_md(user), user %></td>
                        <td class="users_index_name"><%= link_to user.name, user %><br/><%= user.score %></td>
                    </tr>
                </table>
            </div>
          <% end %>
      </div>
  <% end %>
</div>
