<% if answers.count > 0 %>
<div class="row">
  <h4><%= answers.count %>件の回答</h4>
  <hr>
</div>
<% answers.each do |answer| %>
  <% unless answer.id.nil? %>
    <div class="row">
      <div class="col-xs-1 col-sm-1">
          <%= render 'answers/vote_plus_form', {answer: answer, question: question} %>
          <span class="answer_contribution"><%= answer.posi_counts - answer.nega_counts %></span>
          <%= render 'answers/vote_minus_form', {answer: answer, question: question} %>
      </div>
      <div class="col-xs-11 visible-xs"> </div>
      <div class="col-xs-12 col-sm-11">
        <%= simple_format(answer.content, class: "answer_content") %>
        <div class="row">
          <div class="col-sm-3 answer_useronly">
            <% if answer.user == current_user %>
            <%# TODO n.uchiyama 回答の編集機能を実装する %>
            <%#= link_to '編集', "#", class: "font_grey" %>&emsp;<%= link_to "削除", question_answer_path(question, answer), method: :delete, class: "font_grey",  data: { confirm: '本当に削除していいですか？'} %>
            <% end %>
          </div>
          <div class="col-sm-offset-6 col-sm-3 answer_user">
            <div class="answer_user_action_time">回答日時: <%= answer.created_at.to_s(:md_and_HM) %></div>
            <div class="answer_user_image"><%= avatar_sm(answer.user) %></div>
            <div class="answer_user_details">
              <%= link_to answer.user.name, answer.user %><br />
              <%= answer.user.score %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>
<% end %>