<%= render 'devise/shared/navtab' %>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :"メールアドレス" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :"パスワード" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード"  %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :"パスワードを記憶する" %>
        </div>
      <% end %>
      <div class="field">
        <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>