<div class="row top_menu">
  <div class="col-sm-12">
    <%= link_to image_tag('logo.jpg', { :border => '0', :alt => 'StackOverflow'}), root_path %>
    <ul class="nav pull-right nav-pills">
      <li><%= link_to "質問", root_path, class: "btn btn-default" %></li>
      <li><%= link_to "タグ", '#', class: "btn btn-default" %></li>
      <li><%= link_to "ユーザー", '#', class: "btn btn-default" %></li>
      <li><%= link_to '質問する', new_question_path, class: "btn btn-default" %></li>
    </ul>
  </div>
</div>