<!DOCTYPE html>
<html>
  <head>
    <title>Stack Overflow</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <div id="contents_area" class="container">
      <div class="col-sm-8">
        <%= notice %><%= alert %>
        <%= yield %>
      </div>
      <div class="col-sm-4">
        <%= render 'layouts/right_navi' %>
      </div>
    </div>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
